.Parte-1, .Parte-2, .Parte-3 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 100px 20px 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.Parte-1 {
    padding-top: 120px;
}

.title {
    color: #ee0a0a;
    font-size: 25px;
    font-family: 'JetBrains Mono';
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 50px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    display: flex;
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 0;
    background: #ee0a0a;
    color: white;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}


.Texto {
    width: 700px;
    font-family: "Poppins";
    font-size: 16px;
    text-align: justify;
}

.Parte-3 {
    align-items: center;
    gap: 100px;
}

img {
    border-radius: 15px;
}

.Parte-3 img {
    width: 250px;
}